/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.navbar{
  margin: 0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

h2{
  white-space: normal;
  font-size: 1.5em;
}

body > .footer-container {
  padding: 60px 15px 0;
}
.footer-container .text-muted {
  margin: 20px 0;
}

.footer > .footer-container {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

.container{
  padding-top: 20px;
  padding-bottom: 20px;
}

code {
  font-size: 80%;
}

.main-btn{
  padding: 10px;
  background-color: #f5f5f5;
}
